.fondo {
  margin: 0;
  height: 100vh;
  background-image: url("https://reservas.clubdetenisdenia.com/betaphp2/assets/img/curved-images/curved6.jpg");
  width: 100vw;
  position: fixed;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
