body {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
  margin: 0;
}
.display-none {
  display: none;
}
.p-menubar {
  padding: 0.25rem;
}
